<h1>New collection_attribute</h1>

<% form_for(@collection_attribute) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', collection_attributes_path %>